@font-common: "Open Sans", "Arial", sans-serif;
@mobyle-width: 320px;
@mobyle-width-only: 659px;
@table-width: 660px;
@table-width-max: 1199px;
@desktop-width: 1200px;
@color: rgb(40, 54, 69);
@white: rgb(255, 255, 255);
@gray: rgb(242, 242, 242);
@black: rgb(0, 0, 0);
@purple: rgb(210, 40, 86);
@black: rgb(0, 0, 0);
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
