.contacts {
  min-width: 320px;
  margin: 0 auto;
  padding-top: 42px;
}

.contacts__caption {
  .null-indents();
  width: 280px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 30px;
  font-weight: lighter;
  text-align: center;
}

.contacts__list {
  .null-indents-list;
  background-color: @white;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  margin-bottom: 0;
}

.contacts__item {
  margin: 0 auto;
  width: 245px;
  font-size: 24px;
  line-height: 28px;
  color: @purple;
  text-align: center;
  margin-bottom: 23px;
}

.contacts__wrapper {
  position: relative;
  z-index: 1;
  background-color: @white;
  margin-bottom: -200px;

  @media (min-width: @table-width) {
    margin-bottom: -322px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: -275px;
  }
}

@media (min-width: @table-width) {
  .contacts__list {
    max-width: 640px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0;
  }

  .contacts__item {
    width: 220px;
    line-height: 30px;
    margin-bottom: 45px;
  }

  .contacts__item:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .contacts__list {
    box-sizing: border-box;
    max-width: 960px;
    justify-content: space-between;
    margin-bottom: 14px;
  }

  .contacts__item {
    box-sizing: border-box;
    margin-bottom: 0;
    width: 320px;
    line-height: 33px;
  }

  .contacts__title {
    margin-bottom: 18px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__item:nth-child(1) {
    order: -2;
    margin-right: 0;
  }

  .contacts__item:last-child {
    order: -1;
    margin-right: 0;
  }
}

.contacts__title {
  display: block;
  font-weight: bold;
  font-size: 18px;
  color: @color;
}

.contacts__map {
  display: block;
  .null-indents();
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 0;
  line-height: 0;
}

.contacts__image-wrapper {
  .null-indents();
  margin: 0 auto;
  width: 320px;

  @media (min-width: @table-width) {
    width: 700px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.contacts__map-image {
  margin: 0 auto;
}

@media (min-width: @table-width) {
  .contacts__caption {
    margin-bottom: 40px;
    width: 400px;
    font-size: 40px;
    line-height: 50px;
  }

  .contacts__map {
    width: 100%;
    height: 720px;
    overflow: hidden;
  }
}

@media (min-width: @table-width) {
  .contacts {
    width: 100%;
    padding-top: 45px;
  }

  .contacts__caption {
    line-height: 49px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    padding-top: 65px;
  }

  .contacts__caption {
    margin-bottom: 53px;
    width: 550px;
    font-size: 50px;
    line-height: 60px;
  }

  .contacts__map {
    width: 100%;
    height: 776px;
    overflow: hidden;
  }
}
