.form-container {
  width: 320px;
  margin: 0 auto;
}

.form-container__description {
  .null-indents();
  line-height: 30px;
  text-align: center;
}

.form-container__star {
  color: @purple;
}

@media (min-width: @table-width) {
  .form-container {
    width: 620px;
  }
}

@media (min-width: @desktop-width) {
  .form-container {
    width: 940px;
  }
}
