.information {
  width: 320px;
  margin: 0 auto;
  text-align: center;
  background-color: @gray;
}

.information__title {
  font-size: 24px;
  font-weight: lighter;
  .null-indents();
  background-color: @white;
}

.information__list {
  .null-indents-list();
}

.information__caption {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: rgb(0, 0, 0);
}
