.main-nav {
  //width: 320px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-bottom: -66px;
  z-index: 10;
}

@media (min-width: @table-width) {
  .main-nav {
    //width: @table-width;
    margin-bottom: -110px;
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    margin-bottom: -110px;
  }
}
