.main-nav {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: @table-width) {
  .main-nav {
    width: @table-width;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: @desktop-width;
    position: absolute;
    left: 50%;
    margin-left: -600px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
