.modal {
  width: 320px;
  margin: 0 auto;
  background-color: @gray;
}

.modal__title {
  .null-indents;
  font-size: 18px;
  line-height: 24px;
  color: @black;
  text-align: center;
}

.modal__description {
  background-color: @white;
  text-align: center;
}
