.page-header {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color: rgb(29, 38, 49);
}

.page-header__logo {
  .null-indents();
  display: block;
  height: auto;
  width: 74.426px;

  @media (min-width: @table-width) {
    width: 146.3px;
  }

  @media (min-width: @desktop-width) {
    width: 146.3px;
  }
}

.page-header__wrapper {
  .null-indents();
  //width: 320px;
  width: 100%;

  @media (min-width: @table-width) {
    width: @table-width;
  }
}

@media (min-width: @table-width) {
  .page-header {
    padding-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-header__wrapper {
    width: 1200px;
  }

  .page-header {
    padding-bottom: 0;
  }
}


.page-header__wrapper--top {
  margin: 0 auto;
  box-sizing: border-box;
  background-color: rgb(29, 38, 49);
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  padding-top: 78px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 700px auto;
  }
}

.page-header__wrapper--main-page {
  background-position: center 0;
  padding-top: 174px;
}

.page-header__inner {
  margin: 0 auto;
  position: relative;
  width: 320px;

  @media (min-width: @table-width) {
    width: 670px;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 0;
  }

  @media (min-width: @desktop-width) {
    width: 1120px;
    padding-right: 55px;
  }
}

.page-header__image-wrapper {
  .null-indents();
  width: 258px;
  height: auto;

  @media (min-width: @table-width) {
    .null-indents();
    margin-bottom: -8px;
    display: block;
    margin-left: -350px;
    z-index: 0;
    width: 700px;
    padding-left: 11px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: -8px;
    margin-left: -293px;
    width: 1050px;
  }
}

@media (min-width: @table-width) {
  .page-header__wrapper--top {
    padding-top: 190px;
    display: flex;
    //width: 660px;
    width: 100%;
    justify-content: space-between;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: 50% top;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }

  .page-header__image {
    order: 1;
  }

  .page-header__wrapper--main-page {
    position: relative;
    padding-top: 180px;
    padding-left: 20px;
    padding-bottom: 2px;
    background-position: center -4px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__wrapper--top {
    padding-top: 125px;
    width: 100%;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: 50% top;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px auto;
    }
  }

  .page-header__wrapper--main-page {
    padding-top: 207px;
    padding-left: 130px;
  }
}

.page-header__wrapper--bottom {
  padding-top: 23px;
  padding-bottom: 0;
}

@media (min-width: @table-width) {
  .page-header__wrapper--bottom {
    position: relative;
    width: 300px;
    padding-top: 23px;
    z-index: 1;
  }
}

@media (min-width: @desktop-width) {
  .page-header__wrapper--bottom {
    position: relative;
    width: 300px;
    padding-top: 11px;
    z-index: 1;
  }
}

.page-header__description {
  .null-indents;
}

@media (max-width: @mobyle-width-only) {
  .page-header__description--hidden {
    display: none;
  }
}

@media (min-width: @table-width) {
  .page-header__description {
    width: 210px;
    margin: 0 auto;
    margin-bottom: 31px;
    font-size: 40px;
    line-height: 48px;
    font-weight: lighter;
    color: @white;
  }
}

@media (min-width: @desktop-width) {
  .page-header__description {
    width: 300px;
    font-size: 50px;
    line-height: 60px;
    font-weight: lighter;
    padding-left: 2px;
    margin-bottom: 53px;
    color: @white;
  }
}

.page-header__title {
  margin: 0 auto;
  width: 250px;
  font-size: 24px;
  line-height: 30px;
  font-weight: lighter;
  color: @white;

  @media (min-width: @table-width) {
    font-size: 50px;
    line-height: 60px;
    width: 500px;
  }
}

.page-header__title--form {
  @media (min-width: @desktop-width) {
    width: 820px;
  }
}

.page-header__wrapper--content-page {
  box-sizing: border-box;
  background-position: center 0;
  padding-top: 92px;
  padding-bottom: 82px;

  @media (min-width: @table-width) {
    padding-top: 178px;
    padding-bottom: 142px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 172px;
    padding-bottom: 102px;
  }
}

.page-header__wrapper--form-page {
  padding-bottom: 54px;

  @media (min-width: @table-width) {
    padding-bottom: 81px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 102px;
  }
}
