.photo-maker {
  width: 320px;
  margin: 0 auto;
  text-align: center;
  line-height: 30px;
}

.photo-maker__form {
  background-color: @gray;
}

.photo-maker__range {
  display: block;
  margin: 0 auto;
  width: 280px;
}

.button--post {
  color: @purple;
  border-color: @purple;

  &:hover,
  &:focus {
    color: @white;
    background-color: @purple;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: @purple;
  }
}

.button--cancel {
  color: rgba(40, 54, 69, 0.1);
  border-color: rgba(40, 54, 69, 0.1);

  &:hover,
  &:focus {
    color: rgba(40, 54, 69, 0.3);
    background-color: transparent;
    border-color: rgba(40, 54, 69, 0.3);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: @color;
    opacity: 0.3;
  }
}

@media (max-width: @table-width) {
  .photo-maker__range {
    display: none;
  }

  .photo-maker__range--active {
    display: block;
  }
}

@media (min-width: @table-width) {
  .photo-maker {
    width: 660px;
  }

  .photo-maker__form {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .photo-maker__controls {
    width: 260px;
  }

  .photo-maker__buttons {
    width: 260px;
  }

  .photo-maker__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 280px;
  }
}

@media (min-width: @desktop-width) {
  .photo-maker {
    width: 940px;
  }

  .photo-maker__controls {
    width: 410px;
  }

  .photo-maker__wrapper {
    width: 410px;
  }

  .photo-maker__buttons {
    width: 100%;
  }

  .button--post {
    width: 180px;
  }

  .button--cancel {
    width: 180px;
  }
}
