.price-slider {
  position: relative;
  width: 320px;
  overflow: hidden;
  min-height: 200px;
  margin: 0 auto;
  background-color: @gray;
  padding-top: 62px;
  padding-bottom: 40px;
}

@media (min-width: @table-width) {
  .price-slider {
    width: @table-width;
    padding-top: 37px;
    padding-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .price-slider {
    width: @desktop-width;
    padding-top: 66px;
    padding-bottom: 0;
  }
}
