.price-slider {
  position: relative;
  width: 320px;
  overflow: hidden;
  min-height: 200px;
  margin: 0 auto;
  background-color: @gray;
}

@media (min-width: @table-width) {
  .price-slider {
    width: @table-width;
  }
}

@media (min-width: @desktop-width) {
  .price-slider {
    width: @desktop-width;
  }
}
