.reviews-slider__slide {
  .null-indents();
  margin: 0 auto;
  width: 320px;
  text-align: center;
}

.reviews-slider__title {
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  color: rgb(0, 0, 0);
}

.reviews-slider__description {
  .null-indents();
  line-height: 30px;
}

.reviews-slider__controls {
  width: 320px;
  margin: 0 auto;
}
