.site-list {
  .null-indents-list();
  background-color: @color;
  width: 320px;
  margin: 0 auto;

  @media (min-width: @table-width) {
    width: 660px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
  }
}

.site-list__item {
  text-align: center;

  @media (min-width: @desktop-width) {
    width: auto;
  }
}

.site-list__link {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  font-size: 18px;
  height: 32px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(255, 255, 255);
  outline: 0;

  &:hover,
  &:focus {
    color: rgb(210, 40, 86);
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}
