.users-carts {
  width: 100%;
  margin: 0 auto;
  padding-top: 46px;

  @media (min-width: @table-width) {
    padding-top: 92px;
  }
}

.users-carts__description {
  .null-indents();
  margin: 0 auto;
  margin-bottom: 48px;
  padding-left: 10px;
  padding-right: 10px;
  width: 280px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.users-carts__list {
  .null-indents-list();
  width: 280px;
  margin: 0 auto;
}

.users-carts__item {
  background-color: @gray;
  margin: 0 auto;
  width: 280px;
}

.users-carts__item--panorama {
  background-color: transparent;
  width: 320px;
}

@media (min-width: @table-width) {
  .users-carts__item {
    position: relative;
    width: 300px;
    min-height: 455px;
    margin-bottom: 20px;
    margin-right: 20px;
  }

  .users-carts__item:nth-child(2n) {
    margin-right: 0;
  }

  .users-carts__item--panorama {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .users-carts__description {
    width: 450px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 76px;
  }

  .users-carts__list {
    width: 620px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media (min-width: @desktop-width) {
  .users-carts {
    width: 1200px;
  }

  .users-carts__item--panorama {
    width: 1200px;
  }

  .users-carts__description {
    width: 600px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 88px;
  }

  .users-carts__list {
    width: 940px;
    padding-top: 2px;
  }

  .users-carts__item {
    margin-right: 20px;
    margin-bottom: 52px;
    min-height: 555px;
  }

  .users-carts__item:nth-child(2n) {
    margin-right: 20px;
  }

  .users-carts__item:nth-child(3n) {
    margin-right: 0;
  }
}
