.user-cart {
  width: 280px;
  margin: 0 auto;
  .null-indents();
}

.user-cart--panorama {
  width: 320px;
}

.user-cart__wrapper {
  width: 280px;
  margin: 0 auto;
  background-color: @gray;
}

.user-cart__panorama {
  width: 100%;
  font-size: 0;
  line-height: 0;
  margin: 0 auto;
}

.user-cart__wrapper--panorama {
  width: 280px;
}

.user-cart__user-name {
  .null-indents();
  text-align: left;
  font-weight: bold;
  line-height: 24px;
}

.user-cart__time {
  font-size: 12px;
  .null-indents();
  font-weight: lighter;
  text-transform: uppercase;
}

.user-cart__coment {
  .null-indents();
  text-align: left;
}

@media (min-width: @table-width) {
  .user-cart__wrapper {
    width: 100%;
  }

  .user-cart--panorama {
    width: 660px;
  }

  .user-cart__panorama {
    text-align: center;
  }

  .user-cart__wrapper--panorama {
    width: 620px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .user-cart__user-name--panorama {
    order: -2;
  }

  .user-cart__like--panorama {
    order: -1;
  }
}

@media (min-width: @desktop-width) {
  .user-cart__wrapper {
    width: 100%;
  }

  .user-cart--panorama {
    width: 1200px;
  }

  .user-cart__panorama {
    text-align: center;
  }

  .user-cart__wrapper--panorama {
    width: 940px;
    position: relative;
  }
}
