.user-cart {
  width: 320px;
}

.users-carts__description {
  .null-indents();
  margin: 0 auto;
  width: 320px;
  line-height: 30px;
  text-align: center;
}

.users-carts__list {
  .null-indents-list();
  width: 320px;
  margin: 0 auto;
}
